@import "@Duty-Roster/ui/globals.css";
@import "sonner/dist/styles.css";

@layer utilities {
	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}
	.scrollbar-hide {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}

@keyframes wave {
	0%,
	100% {
		transform: scaleY(0.3);
	}
	50% {
		transform: scaleY(1);
	}
}
